
body {
    height: 100%;
}

h1 {
    background-color: blue;
        width: 400px;
    }
    nav {


   display: flex;
   padding: 10px;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: rgb(242, 191, 51);

}

 ul {
   display: flex;
   justify-content: end;
   align-items: center;
}
nav ul li {

    display: inline;
    padding: 5px ;
}

@media screen and (max-width:580px) {
    nav {
       flex-direction: column;
    }
}
    @media screen and (max-width:580px) {
     h1 {
        text-align: center;
    }
}



section {
    
   display: flex;
   padding: 10px;
   justify-content: space-between;
   flex-wrap: wrap;
   background-color: rgb(242, 191, 51);

  }
article {
    display: flex;
    width: 100%;
    background-color: green;
    height: 400px;
}

h2 {
background-color: blue;
    width: 400px;
    text-align: right;
    margin-right: 10px;
}

content {
    display: flex;
    padding: 10px;
    
    background-color: rgb(242, 191, 51);
 
}

p {
    background-color: aqua;
}

.Contact-me {
    width: 400px;
}

