body {
    background-color: whitesmoke;
}

nav ul li  {
    display: inline;
    padding: 10px;
   
 }
 
 h1 {
   font-size: x-large;
     text-align: center;
 }

 h2 {
    font-size:  23px; 
    text-align: center;
 }
.container {
    max-width: 1140px;
    margin: 0 auto;
    background-color: rgb(239, 231, 175);
}

.container > header {
    padding: 20px;
    background-color: rgb(227, 189, 54);
    display: flex;
    justify-content: space-between;
}

section {
   
    padding:  20px;
    line-height: 44px;
   
}

.first-section {
    display: flex;
    padding: 18px;
}

.first-section img {
    
    padding: 5px;
}

.featured {
    display: flex;
    padding: 18px;
}

.feature img {
display: flex
}
.about img {
    width: 200px;
}

.gallery-featured {
    display: flex;
    flex-wrap: wrap;

}

footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: rgb(227, 189, 54);
}

footer ul li {
    display: inline;
padding: 21px;

}